html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav {
    background-color: rgba(5, 11, 17, 1);
    text-align: center;
    margin: 0;
    padding: 3px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 50px;
    height: 50px;
    border: 1px solid rgba(5, 11, 17, 1);
    border-radius: 50%;
    display: block;
    transition: all 0.1s ease-in;
}

.logo:hover{
    border: 2px solid aliceblue;
}

.logo-nav a {
    margin: 0;
    padding: 0;
    display: flex;
    align-content: center;
}

nav a {
    text-decoration: none;
    color: aliceblue;
}

.main-nav-comp{
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.sign-up-nav{
    display: flex;
    justify-content: space-between;
    width: 8%;
    align-content: center;
    padding: 0px 3px;
    height: 60%;

}

.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.hm{
    padding: 0;
    position: relative;
    display: flex;
    z-index: 1;
    width: 30px;
    height: 30px;
}

.hm .hm-line{
    /* display: inline-block; */
    background-color: aliceblue;
    width: 25px;
    height: 2px;
    margin: 0;
    border-radius: 3px;
    z-index: 1;
    position: absolute;
    top: 50%;
    right: 2.5px;
    transition: all 0.3s ease;
}
.stacked .hm-line:nth-child(1){
    top: 25%;
    height: 2px;

}
.stacked .hm-line:nth-child(3){
    top: 75%;
    height: 2px;
}

.crossed .hm-line:nth-child(1) {
    transform: rotateZ(45deg);
    background-color: whitesmoke;
}
.crossed .hm-line:nth-child(2) {
    transform: scale(0);
    background-color: whitesmoke;
}
.crossed .hm-line:nth-child(3) {
    transform: rotateZ(-45deg);
    background-color: whitesmoke;
}

.hm-menu{
    height: 100vh;
    width: 200px;
    background-color:rgba(5, 11, 17, 1);
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    right: -200px;
    transition: right 0.3s ease-in;
}

.slide-left{
    right: 0px;
    /* right: 0px; */
}

.menu-hidden{
    right: -200px;
}

.hm-menu ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-between;
    margin: 0;
    padding: 100px 0px;
    height: 30%;
}

.hm-menu li {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: gray;
    height: 40px;
    border: 1px solid rgba(211, 203, 66, 0.707);
    justify-content: center;
    align-items: center;
}

.hm-menu li a{
    text-decoration: none;
    color: blue;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.calc-and-design {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.calc{
    background-color: rgb(63, 68, 68);
    width: 35%;
    text-align: center;
    font-size: 50px;    
    color: aliceblue;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

    grid-template-areas:
    "dis dis dis dis dis"
    "cl cl pn pn divide"
    "C D E F mult"
    "eght nn A B bsub"
    "four fv sx svn badd"
    "bzero one two thr equal";

}

.b0, .b1, .b2, .b3, .b4, .b5, .b6, .b7, .b8, 
.b9, .bA, .bB, .bC, .bD, .bE, .bF, .bClear, .bPosNeg{
    border: .5px solid black;
    outline: none;
    background: none;
    padding: 0;
    margin: 0;
    background-color: rgb(68, 68, 68);
    transition: background-color 0.1s ease;
    font-size: 30px;
    color: rgb(216, 213, 213);
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.bAdd, .bSub, .bMult, .bDivide, .bEq{
    border: .5px solid black;
    outline: none;
    background: none;
    padding: 0;
    margin: 0;
    background-color: rgb(242, 163, 60);
    transition: background-color 0.1s ease;
    font-size: 30px;
    color: rgb(216, 213, 213);
    font-size: 30px;
    color: black;
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.b0:hover, .b1:hover, .b2:hover, .b3:hover, 
.b4:hover, .b5:hover, .b6:hover, .b7:hover, 
.b8:hover, .b9:hover, .bA:hover, .bB:hover, 
.bC:hover, .bD:hover, .bE:hover, .bF:hover, 
.bClear:hover, .bPosNeg:hover {
    border: 0.5px solid black;
    outline: none;
    background: none;
    padding: 0;
    margin: 0;
    background-color: rgba(90, 90, 90, 0.754);
}


.bAdd:hover, .bSub:hover, .bMult:hover, .bDivide:hover, 
.bEq:hover {
    border: 1px solid black;
    outline: none;
    background: none;
    padding: 0;
    margin: 0;
    background-color: rgb(249, 180, 89);
}

.b0:active, .b1:active, .b2:active, .b3:active, 
.b4:active, .b5:active, .b6:active, .b7:active, 
.b8:active, .b9:active, .bA:active, .bB:active, 
.bC:active, .bD:active, .bE:active, .bF:active, 
.bClear:active, .bPosNeg:active {
    background-color: rgba(48, 47, 47, 0.754);
}


.bAdd:active, .bSub:active, .bMult:active, .bDivide:active, 
.bEq:active {
    background-color: rgb(247, 159, 45);
}


.b0{
    grid-area: bzero;
}

.b1{
    grid-area: one;
}

.b2{
    grid-area: two;
}

.b3{
    grid-area: thr;
}

.b4{
    grid-area: four;
}

.b5{
    grid-area: fv;
}

.b6{
    grid-area: sx;
}

.b7{
    grid-area: svn;
}

.b8{
    grid-area: eght;
}

.b9{
    grid-area: nn;
}

.bA{
    grid-area: A;
}

.bB{
    grid-area: B;
}

.bC{
    grid-area: C;
}

.bD{
    grid-area: D;
}

.bE{
    grid-area: E;
}

.bF{
    grid-area: F;
}

.bAdd{
    grid-area: badd;
}

.bSub{
    grid-area: bsub;
}

.bMult{
    grid-area: mult;
}

.bDivide{
    grid-area: divide;
}

.bEq{
    grid-area: equal;
}

.bClear{
    grid-area: cl;
}

.bPosNeg{
    grid-area: pn;
}

.calcDis {
    grid-area: dis;
    display: flex;
    justify-content: end;
    align-items: end;
    background-color: rgb(46, 46, 46);
    color: rgb(216, 213, 213);
    border: 1px solid black;

    padding: 20px 40px;
}

.design{
    background-color: rgb(16, 38, 38);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    text-align: center;
    font-size: 50px;
    color: aliceblue;
    transition: all 0.3s ease;
}



.form {
    background-color: aquamarine;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    margin: 0;
    padding: 0;
    font-size: 50px;
    transition: all 0.3s ease;
}

.design:hover{
    background-color: rgba(16, 38, 38, 0.95);
    color: rgb(184, 221, 254);
}



.form:hover {
    background-color: rgb(61, 210, 160);
    font-size: 55px;
    letter-spacing: 8px;
    color: rgb(247, 241, 73);

}